li {
    list-style-type: none;
    border: 1px solid #333;
    margin: 10px;
}
img {
    width: 100%;
    height: 300px;
}
.inner-flex {
    display: flex;
    justify-content: space-between;
}
button {
    width: 100%;
    background-color: rgb(255, 62, 108);
    color: white;
    margin: auto;
    border: none !important;
}